# IDE
.idea
.vscode
.vs
*.csproj.user
**/*.DotSettings.user

# Build directories
[Bb]in
[Oo]bj
/css/*

# Test coverage
**/*.opencover.xml
TestResults

# npm

node_modules
bootstrap.bundle.min.js

# temporary folders

**/keys/*

# local logging

Service/**/logs/*

# these files are runtime generated and during build 
/src/Quicksilvra.Idp/wwwroot/css/site.css
/src/Quicksilvra.Idp/wwwroot/css/site.css.map
