# IDE
.idea
.vscode
.vs
*.csproj.user
**/*.DotSettings.user

# Build directories
[Bb]in
[Oo]bj
/css/*

# Test coverage
**/*.opencover.xml
TestResults

# npm

node_modules
bootstrap.bundle.min.js

# temporary folders

**/keys/*

# local logging

Service/**/logs/*


